<!DOCTYPE html>
<html>
	<head>
		<title>Home Page</title>
	</head>

	<body>
		<h1> Login </h1>
		<form method="get">
            <input type="submit" formaction="/" value="home">
            <input type="submit" formaction="/auth/google" value="login with google">
		</form>
	</body>
</html>