<!DOCTYPE html>
<html>
	<head>
		<title>Profile Page</title>
	</head>

	<body>
        <h1><%= user.username %></h1>

		<form method="get"> 
            <input type="submit" formaction="/" value="home"> 
        </form>
	</body>
</html>